# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# IDEA files
/.idea/
/out/
/*.iml

# Storage/log files
/data/
/config.json
/preferences.json
/*.log.*
hs_err_pid[0-9]*.log

# Test sandbox files
src/test/data/sandbox/

# MacOS custom attributes files created by Finder
.DS_Store
docs/_site/
docs/_markbind/logs/
src/main/main.iml
src/test/test.iml
node_modules
bin/main/images/address_book_32.png
bin/main/images/calendar.png
bin/main/images/clock.png
bin/main/images/fail.png
bin/main/images/help_icon.png
bin/main/images/info_icon.png
bin/main/seedu/address/AppParameters.class
bin/main/seedu/address/Main.class
bin/main/seedu/address/MainApp.class
bin/main/seedu/address/commons/core/Config.class
bin/main/seedu/address/commons/core/GuiSettings.class
bin/main/seedu/address/commons/core/LogsCenter.class
bin/main/seedu/address/commons/core/Version.class
bin/main/seedu/address/commons/core/index/Index.class
bin/main/seedu/address/commons/exceptions/DataLoadingException.class
bin/main/seedu/address/commons/exceptions/IllegalValueException.class
bin/main/seedu/address/commons/util/AppUtil.class
bin/main/seedu/address/commons/util/CollectionUtil.class
bin/main/seedu/address/commons/util/ConfigUtil.class
bin/main/seedu/address/commons/util/FileUtil.class
bin/main/seedu/address/commons/util/JsonUtil$LevelDeserializer.class
bin/main/seedu/address/commons/util/JsonUtil.class
bin/main/seedu/address/commons/util/StringUtil.class
bin/main/seedu/address/commons/util/ToStringBuilder.class
bin/main/seedu/address/logic/Logic.class
bin/main/seedu/address/logic/LogicManager.class
bin/main/seedu/address/logic/Messages.class
bin/main/seedu/address/logic/commands/AddCommand.class
bin/main/seedu/address/logic/commands/ClearCommand.class
bin/main/seedu/address/logic/commands/Command.class
bin/main/seedu/address/logic/commands/CommandResult.class
bin/main/seedu/address/logic/commands/DeleteCommand.class
bin/main/seedu/address/logic/commands/EditCommand$EditPersonDescriptor.class
bin/main/seedu/address/logic/commands/EditCommand.class
bin/main/seedu/address/logic/commands/ExitCommand.class
bin/main/seedu/address/logic/commands/FindCommand.class
bin/main/seedu/address/logic/commands/HelpCommand.class
bin/main/seedu/address/logic/commands/ListCommand.class
bin/main/seedu/address/logic/commands/exceptions/CommandException.class
bin/main/seedu/address/logic/parser/AddCommandParser.class
bin/main/seedu/address/logic/parser/AddressBookParser.class
bin/main/seedu/address/logic/parser/ArgumentMultimap.class
bin/main/seedu/address/logic/parser/ArgumentTokenizer$PrefixPosition.class
bin/main/seedu/address/logic/parser/ArgumentTokenizer.class
bin/main/seedu/address/logic/parser/CliSyntax.class
bin/main/seedu/address/logic/parser/DeleteCommandParser.class
bin/main/seedu/address/logic/parser/EditCommandParser.class
bin/main/seedu/address/logic/parser/FindCommandParser.class
bin/main/seedu/address/logic/parser/Parser.class
bin/main/seedu/address/logic/parser/ParserUtil.class
bin/main/seedu/address/logic/parser/Prefix.class
bin/main/seedu/address/logic/parser/exceptions/ParseException.class
bin/main/seedu/address/model/AddressBook.class
bin/main/seedu/address/model/Model.class
bin/main/seedu/address/model/ModelManager.class
bin/main/seedu/address/model/ReadOnlyAddressBook.class
bin/main/seedu/address/model/ReadOnlyUserPrefs.class
bin/main/seedu/address/model/UserPrefs.class
bin/main/seedu/address/model/person/Address.class
bin/main/seedu/address/model/person/Attendance.class
bin/main/seedu/address/model/person/AttendanceStatus.class
bin/main/seedu/address/model/person/Course.class
bin/main/seedu/address/model/person/Email.class
bin/main/seedu/address/model/person/Grade.class
bin/main/seedu/address/model/person/Id.class
bin/main/seedu/address/model/person/Name.class
bin/main/seedu/address/model/person/NameContainsKeywordsPredicate.class
bin/main/seedu/address/model/person/Note.class
bin/main/seedu/address/model/person/Participation.class
bin/main/seedu/address/model/person/ParticipationStatus.class
bin/main/seedu/address/model/person/Person.class
bin/main/seedu/address/model/person/Phone.class
bin/main/seedu/address/model/person/UniquePersonList.class
bin/main/seedu/address/model/person/exceptions/DuplicateIdException.class
bin/main/seedu/address/model/person/exceptions/DuplicatePersonException.class
bin/main/seedu/address/model/person/exceptions/PersonNotFoundException.class
bin/main/seedu/address/model/tag/Tag.class
bin/main/seedu/address/model/util/SampleDataUtil.class
bin/main/seedu/address/storage/AddressBookStorage.class
bin/main/seedu/address/storage/JsonAdaptedNote.class
bin/main/seedu/address/storage/JsonAdaptedPerson.class
bin/main/seedu/address/storage/JsonAddressBookStorage.class
bin/main/seedu/address/storage/JsonSerializableAddressBook.class
bin/main/seedu/address/storage/JsonUserPrefsStorage.class
bin/main/seedu/address/storage/Storage.class
bin/main/seedu/address/storage/StorageManager.class
bin/main/seedu/address/storage/UserPrefsStorage.class
bin/main/seedu/address/ui/CommandBox$CommandExecutor.class
bin/main/seedu/address/ui/CommandBox.class
bin/main/seedu/address/ui/HelpWindow.class
bin/main/seedu/address/ui/MainWindow.class
bin/main/seedu/address/ui/PersonCard.class
bin/main/seedu/address/ui/PersonListPanel$PersonListViewCell.class
bin/main/seedu/address/ui/PersonListPanel.class
bin/main/seedu/address/ui/ResultDisplay.class
bin/main/seedu/address/ui/StatusBarFooter.class
bin/main/seedu/address/ui/Ui.class
bin/main/seedu/address/ui/UiManager.class
bin/main/seedu/address/ui/UiPart.class
bin/main/view/CommandBox.fxml
bin/main/view/DarkTheme.css
bin/main/view/Extensions.css
bin/main/view/HelpWindow.css
bin/main/view/HelpWindow.fxml
bin/main/view/MainWindow.fxml
bin/main/view/PersonListCard.fxml
bin/main/view/PersonListPanel.fxml
bin/main/view/ResultDisplay.fxml
bin/main/view/StatusBarFooter.fxml
bin/test/seedu/address/AppParametersTest$ParametersStub.class
bin/test/seedu/address/AppParametersTest.class
bin/test/seedu/address/commons/core/ConfigTest.class
bin/test/seedu/address/commons/core/GuiSettingsTest.class
bin/test/seedu/address/commons/core/VersionTest.class
bin/test/seedu/address/commons/core/index/IndexTest.class
bin/test/seedu/address/commons/util/AppUtilTest.class
bin/test/seedu/address/commons/util/CollectionUtilTest.class
bin/test/seedu/address/commons/util/ConfigUtilTest.class
bin/test/seedu/address/commons/util/FileUtilTest.class
bin/test/seedu/address/commons/util/JsonUtilTest.class
bin/test/seedu/address/commons/util/StringUtilTest.class
bin/test/seedu/address/logic/LogicManagerTest.class
bin/test/seedu/address/logic/commands/AddCommandIntegrationTest.class
bin/test/seedu/address/logic/commands/AddCommandTest$ModelStub.class
bin/test/seedu/address/logic/commands/AddCommandTest$ModelStubAcceptingPersonAdded.class
bin/test/seedu/address/logic/commands/AddCommandTest$ModelStubWithPerson.class
bin/test/seedu/address/logic/commands/AddCommandTest.class
bin/test/seedu/address/logic/commands/ClearCommandTest.class
bin/test/seedu/address/logic/commands/CommandResultTest.class
bin/test/seedu/address/logic/commands/CommandTestUtil.class
bin/test/seedu/address/logic/commands/DeleteCommandTest.class
bin/test/seedu/address/logic/commands/EditCommandTest.class
bin/test/seedu/address/logic/commands/EditPersonDescriptorTest.class
bin/test/seedu/address/logic/commands/ExitCommandTest.class
bin/test/seedu/address/logic/commands/FindCommandTest.class
bin/test/seedu/address/logic/commands/HelpCommandTest.class
bin/test/seedu/address/logic/commands/ListCommandTest.class
bin/test/seedu/address/logic/parser/AddCommandParserTest.class
bin/test/seedu/address/logic/parser/AddressBookParserTest.class
bin/test/seedu/address/logic/parser/ArgumentTokenizerTest.class
bin/test/seedu/address/logic/parser/CommandParserTestUtil.class
bin/test/seedu/address/logic/parser/DeleteCommandParserTest.class
bin/test/seedu/address/logic/parser/EditCommandParserTest.class
bin/test/seedu/address/logic/parser/FindCommandParserTest.class
bin/test/seedu/address/logic/parser/ParserUtilTest.class
bin/test/seedu/address/model/AddressBookTest$AddressBookStub.class
bin/test/seedu/address/model/AddressBookTest.class
bin/test/seedu/address/model/ModelManagerTest.class
bin/test/seedu/address/model/UserPrefsTest.class
bin/test/seedu/address/model/person/AddressTest.class
bin/test/seedu/address/model/person/EmailTest.class
bin/test/seedu/address/model/person/NameContainsKeywordsPredicateTest.class
bin/test/seedu/address/model/person/NameTest.class
bin/test/seedu/address/model/person/PersonTest.class
bin/test/seedu/address/model/person/PhoneTest.class
bin/test/seedu/address/model/person/UniquePersonListTest.class
bin/test/seedu/address/model/tag/TagTest.class
bin/test/seedu/address/storage/JsonAdaptedPersonTest.class
bin/test/seedu/address/storage/JsonAddressBookStorageTest.class
bin/test/seedu/address/storage/JsonSerializableAddressBookTest.class
bin/test/seedu/address/storage/JsonUserPrefsStorageTest.class
bin/test/seedu/address/storage/StorageManagerTest.class
bin/test/seedu/address/testutil/AddressBookBuilder.class
bin/test/seedu/address/testutil/Assert.class
bin/test/seedu/address/testutil/EditPersonDescriptorBuilder.class
bin/test/seedu/address/testutil/PersonBuilder.class
bin/test/seedu/address/testutil/PersonUtil.class
bin/test/seedu/address/testutil/SerializableTestClass.class
bin/test/seedu/address/testutil/TestUtil.class
bin/test/seedu/address/testutil/TypicalIndexes.class
bin/test/seedu/address/testutil/TypicalPersons.class
bin/test/seedu/address/ui/TestFxmlObject.class
bin/test/seedu/address/ui/UiPartTest$TestUiPart.class
bin/test/seedu/address/ui/UiPartTest.class
bin/test/view/UiPartTest/invalidFile.fxml
bin/test/view/UiPartTest/validFile.fxml
bin/test/view/UiPartTest/validFileWithFxRoot.fxml
